.cta-button {
    display: inline-block;
    padding: 12px 25px;
    background: #3ed2a8;
    color: #000;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

.cta-button:hover {
    opacity: 0.9;
}
